
body {
    font-family: Helvetica;
    font-size: 12px;
    color:#333
}

main {
    margin: 0 auto;
    width: 1000px;
}

header {
    float: left;
    height: 75px;
    width: 1000px;
    background: #aaabbb;
}


#content {
    float: left;
    background: #FFFFFF;
    width: 850px;
}

#rightcolumn {
    background: #ccc000;
    width: 150px;
    float: left;
}

footer {
    height: 40px;
    width: 1000px;
    background: #33FF66;
    clear: both;
    vertical-align: baseline;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    margin-left: 452px;

}

