@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;

}

img {
    max-width: 100%;
    height: auto
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em;
}

h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 0;
}


.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: .8em;
}

@media (min-width: 50rem) {
    .title {
        font-size: 4rem;
    }
}


.button {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.6em;
    border-radius: 50px;
}

.button-accent {
    color: #FED766;

}

.button-accent:hover,
.button-accent:focus {
    background: #222222 ;
    color: #FED766;
}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
    }

a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    background: transparent;
    color: #9caacc;

}

nav a:hover
nav a:focus {
    color: #048acc;
    }

@media (min-width: 60rem) {
    .logo {
        float: left;
    }
    nav {
        float: right;
    }
}



.home-hero {
    background-image: url("../img/1.jpeg");
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #010119;

}

@media (min-width: 60rem) {
    .home-hero {
        height: 100vh;
        padding-top:35vh;
    }
}

.home-about-textbox {
    background-color: #000000;
    padding: 3em;
    width: 100vw;
    margin-left: -2.5%;
    outline: 2px solid #000000;
    outline-offset: -2.5em;
    color: #fed766;
    position: relative;
}

.home-about-textbox h1 {
    color: #9caacc;
    position: relative;
    top: .3em;
    background: #232323;
    padding:0 .25em;
}
@media (min-width: 25rem) {
    h1 {
        font-size: 2rem;
    }
    .home-about-textbox h1 {
        top: .6em;
        padding: 0 .325rem;
    }
}

@media (min-width: 60rem) {
    h1 {
        font-size: 2.5rem;
    }
    .home-about-textbox h1 {
        top: .3em;
        padding: 0 .6em;
    }
}