@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;

}

img {
    max-width: 100%;
    height: auto
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em;
}

h1 {
    font-weight: 300;
    font-size: 8rem;
    margin-top: 0;
    color: #FED766;
}


.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: .8em;
}

@media (min-width: 50rem) {
    .title {
        font-size: 4rem;
    }
}


.button {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.6em;
    border-radius: 50px;
}

.button-accent {
    color: #FED766;

}

.button-accent:hover,
.button-accent:focus {
    background: #222222 ;
    color: #FED766;
}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
    }

a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    background: transparent;
    color: #9caacc;

}

nav a:hover
nav a:focus {
    color: #048acc;
    }

@media (min-width: 60rem) {
    .logo {
        float: left;
    }
    nav {
        float: right;
    }
}



.home-hero {
    background-image: url("../img/1.jpeg");
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #010119;

}

@media (min-width: 60rem) {
    .home-hero {
        height: 100vh;
        padding-top:35vh;
    }
}


.home-about-textbox {
    width: 50%;
    background-color: transparent;
    padding: 7em;
    width: 50vw;
    margin-left: 25%;
    outline: 2px solid #fed766;
    outline-offset: -2.5em;
    color: #fed766;
    position: relative;
    top: -5em;
    text-align: center;
    box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
}

.home-about-textbox h1 {
    top: .75em;
    left: 6rem;
    transform: translateX(0);
}

@media (min-width: 25rem) {
    h1 {
        font-size: 2rem;
    }
    .home-about-textbox h1 {
        top: .6em;
        padding: 0 .325rem;
    }
}

@media (min-width: 60rem) {
    h1 {
        font-size: 2.5rem;
    }
    .home-about-textbox h1 {
        top: .3em;
        padding: 0 .6em;
    }
}


.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}


label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}


@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }
    #toggle:checked + .menu {
        display: block;
    }

