
html {
    background: #6eaccc;
    font-family: Helvetica, sans-serif;
}

body {

    font-size: 12px;
}

main {

}

#container {
    margin: 0 auto;
    width: 1000px;
}

header {
    float: left;
    height: 140px;
    width: 1000px;
    background: #aaabbb;
}

header > img {
    float: left;
}


#name {
    text-align: justify;
    word-spacing: 10px;
    margin-left: 152px;
    position: fixed;
    padding: 10px;
    height: 75px;
    width: 800px;
}
#occupation {
    text-align: justify;
    word-spacing: 10px;
    margin-left: 152px;
    display: inherit;
    padding: 10px;
    height: 75px;
    width: 800px;
    line-height:80px;
}


#content {
    float: left;
    background: #ffffff;
    width: 850px;
    height: 600px;
    text-align: center;
}

footer {
    height: 40px;
    width: 1000px;
    background: #aaabbb;
    clear: both;
    vertical-align: baseline;
    display: block;
    padding: 0;
    border: 0;
    float: left;
    text-align: center;
}


aside {
    background: #ccc6cb;
    width: 150px;
    height: 600px;
    float: left;
    text-align: center;
    font-size:medium;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 80%;
    line-height: 250%;
    text-align: center;
}


