
html {
    background: #6eaccc;
    font-family: Helvetica, sans-serif;
}

body {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}

#container {
    margin: 0 auto;
    width: 1000px;
}

.head {
    float: left;
    height: 140px;
    width: 1000px;
    background: #aaabbb;
}

.head > .head__photo {
    float: left;
}

.head__title {
    text-align: justify;
    word-spacing: 10px;
    margin-left: 152px;
    position: fixed;
    padding: 10px;
    height: 75px;
    width: 800px;
}

.head__title--occupation {
    text-align: justify;
    word-spacing: 10px;
    margin-left: 152px;
    display: inherit;
    padding: 10px;
    height: 75px;
    width: 775px;
    line-height: 80px;
}

.space__content {
    float: left;
    background: #ffffff;
    width: 850px;
    height: 600px;
    text-align: center;
    margin: 0px;
}

.aside {
    background: #ccc6cb;
    width: 150px;
    height: 600px;
    float: left;
    text-align: center;
}

.aside__projects {
    font-size: medium;
    font-weight: bold;
}

.aside__projects--item {
    font-weight: bold;
}

.aside__projects--list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 80%;
    line-height: 250%;
    text-align: center;
}

.aside__contact--title {
    font-size: medium;
    font-weight: bold;
}

.footer {
    height: 40px;
    width: 1000px;
    background: #aaabbb;
    clear: both;
    vertical-align: baseline;
    display: block;
    padding: 0;
    border: 0;
    float: left;
    text-align: center;
}

