
html {
    background: #96ccc9;
}

body {
    font-family: Helvetica;
    font-size: 12px;
    color:#333

}

main {
    margin: 0 auto;
    width: 1000px;
}

header {
    float: left;
    height: 175px;
    width: 1000px;
    background: #aaabbb;
}


#content {
    float: left;
    background: #ffffff;
    width: 850px;
    height: 600px;
}

#rightcolumn {
    background: #ccc6cb;
    width: 150px;
    height: 600px;
    float: left;
}

footer {
    height: 40px;
    width: 1000px;
    background: #aaabbb;
    clear: both;
    vertical-align: baseline;
    display: block;
    padding: 0;
    border: 0;
    margin-left: 452px;
    float: left;



}

